@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    PADDING: 0;
    MARGIN: 0; 
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}

a{
    text-decoration: none;
    color: rgb(red, green, blue);
}

ul{
    list-style-type: none;
}


footer{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    color: #848082;
    justify-content: space-evenly;
    background-color: #E9D7C2;
    padding: 50px;
    margin-top: auto;
    }

header{
    background-color: whitesmoke;
    margin: 30px 50px 50px 30px;
    padding: 40px;
    }

main{
    text-align: center;
    margin: 15px 25px 25px 15px;
    }

h1{
    font-family: sans-serif;
    color: #848082;
    padding: 1rem 2rem 2rem 1rem;
}

nav{
    background-color: #E9D7C2;
    padding: 2rem;
}

.navbar{
    display: flex;
    justify-content: end;
}

.navbar li {
    margin: 0 5px;
    border: 1px;
}

.logo{
    width: 6rem;
    top:1rem;
    object-fit: cover;
    border-radius: 40%;
}

.babypics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.babypics p{
    font-family: 'PT Sans', sans-serif;
    color: #848082;
}

.girlpics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.girspics p{
    font-family: 'PT Sans', sans-serif;
    color: #848082;
}

.boyspics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "PT Sans Narrow", sans-serif;
}

.boyspics p{
    font-family: 'PT Sans', sans-serif;
    color: #848082;
}

.formulario{
    font-family: sans-serif;
    text-align: justify;
    padding: 2rem 4rem;
    background-color: peachpuff;
    color: #848082;
}

.grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-content: center;
}

.grid-menu{
    margin: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 20px 30px;
}

.grid-menu img{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-style:groove;
    align-items: center;
}

.grid-menu h2{
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-size:larger;
    padding: 5px 5px 5px 5px;

}

.accesories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1rem;
}

.accesories p{
    font-family: 'PT Sans', sans-serif;
    color: #848082;
}

.accesories h2{
    font-family: 'PT Sans', sans-serif;
    color: #848082;
    font-size:medium;
}

.accesories img{
    height: 25vw;
    width: 25vw;
}


/*media query de escritorio*/

@media (max-width: 768px){
    body{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
    }
    
    a{
        text-decoration: none;
        color: rgb(red, green, blue);
    }
    
    ul{
        list-style-type: none;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        font-family: sans-serif;
        color: #848082;
        justify-content: space-evenly;
        background-color: #E9D7C2;
        padding: 50px;
        margin-top: auto;
        }
    
    header{
        background-color: whitesmoke;
        margin: 30px 50px 50px 30px;
        padding: 40px;
        }
    
    main{
        text-align: center;
        margin: 15px 25px 25px 15px;
        }
    
    h1{
        font-family: sans-serif;
        color: #848082;
        padding: 1rem 2rem 2rem 1rem;
    }
    
    nav{
        background-color: #E9D7C2;
        padding: 2rem;
    }
    
    .navbar{
        display: flex;
        justify-content: end;
    }
    
    .navbar li {
        margin: 0 5px;
        border: 1px;
    }
    
    .logo{
        width: 6rem;
        top: 1rem;
        object-fit: cover;
        border-radius: 40%;
    }
    
    .accesories{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accesories p{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
    }
    
    .accesories h2{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
        font-size:medium;
    }
    
    .accesories img{
        height: 25vw;
        width: 25vw;
    }

    .formulario{
        font-family: sans-serif;
        text-align: justify;
        padding: 2rem 4rem;
        background-color: peachpuff;
        color: #848082;
    }
}

@media (max-width: 600px){
    body{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
    }
    
    a{
        text-decoration: none;
        color: rgb(red, green, blue);
    }
    
    ul{
        list-style-type: none;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        color: #848082;
        justify-content: space-evenly;
        background-color: #E9D7C2;
        padding: 50px;
        margin-top: auto;
        }
    
    header{
        background-color: whitesmoke;
        margin: 30px 50px 50px 30px;
        padding: 40px;
        }
    
    main{
        text-align: center;
        margin: 15px 25px 25px 15px;
        }
    
    h1{
        font-family: sans-serif;
        color: #848082;
        padding: 1rem 2rem 2rem 1rem;
    }
    
    nav{
        background-color: #E9D7C2;
        padding: 2rem;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .navbar li {
        margin: 0 5px;
        border: 1px;
    }
    
    .logo{
        width: 6rem;
        top: 1rem;
        object-fit: cover;
        border-radius: 40%;
    }
    
    .accesories{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accesories p{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
    }
    
    .accesories h2{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
        font-size:medium;
    }
    
    .accesories img{
        height: 25vw;
        width: 25vw;
    }
}

@media (max-width:450px){
    body{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
    }
    
    a{
        text-decoration: none;
        color: rgb(red, green, blue);
    }
    
    ul{
        list-style-type: none;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        color: #848082;
        justify-content: space-evenly;
        background-color: #E9D7C2;
        padding: 50px;
        margin-top: auto;
        }
    
    header{
        background-color: whitesmoke;
        margin: 30px 50px 50px 30px;
        padding: 40px;
        }
    
    main{
        text-align: center;
        margin: 15px 25px 25px 15px;
        }
    
    h1{
        font-family: sans-serif;
        color: #848082;
        padding: 1rem 2rem 2rem 1rem;
    }
    
    nav{
        background-color: #E9D7C2;
        padding: 1rem;
        align-items: center;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
    }
    
    .navbar li {
        margin: 0 5px;
        border: 1px;
        justify-content: center;
    }
    
    .logo{
        width: 6rem;
        top: 1rem;
        object-fit: cover;
        border-radius: 40%;
        justify-content: center;
    }
    
    .accesories{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accesories p{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
    }
    
    .accesories h2{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
        font-size:medium;
    }
    
    .accesories img{
        height: 25vw;
        width: 25vw;
    }

    .formulario{
        font-family: sans-serif;
        text-align: center;
        align-items: center;
        padding: 2rem 4rem;
        background-color: peachpuff;
        color: #848082;
    }
}

@media (max-width:360px){
    body{
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
    }
    
    a{
        text-decoration: none;
        color: rgb(red, green, blue);
    }
    
    ul{
        list-style-type: none;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        color: #848082;
        justify-content: space-evenly;
        background-color: #E9D7C2;
        padding: 50px;
        margin-top: auto;
        }
    
    header{
        background-color: whitesmoke;
        margin: 30px 50px 50px 30px;
        padding: 40px;
        }
    
    main{
        text-align: center;
        margin: 15px 25px 25px 15px;
        }
    
    h1{
        font-family: sans-serif;
        font-size: large;
        color: #848082;
        padding: 0,5rem 1rem 1rem 0,5rem;
    }
    
    nav{
        background-color: #E9D7C2;
        padding: 0,5rem;
        align-items: center;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
    }
    
    .navbar li {
        margin: 0 5px;
        border: 1px;
        justify-content: center;
    }
    
    .logo{
        width: 6rem;
        top: 1rem;
        object-fit: cover;
        border-radius: 40%;
        justify-content: center;
    }
    
    .accesories{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accesories p{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
    }
    
    .accesories h2{
        font-family: 'PT Sans', sans-serif;
        color: #848082;
        font-size:medium;
    }
    
    .accesories img{
        height: 25vw;
        width: 25vw;
    }

    .formulario{
        font-family: sans-serif;
        text-align: center;
        align-items: center;
        padding: 2rem 4rem;
        background-color: peachpuff;
        color: #848082;
    }

}


